@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f8fafd;
  --foreground: #00223a;
  --card: #fff;
  --card-foreground: #00223a;
  --popover: #fff;
  --popover-foreground: #233a4d;
  --primary: #00223a;
  --primary-foreground: #fff;
  --secondary: #17395a;
  --secondary-foreground: #fff;
  --muted: #eaeaea;
  --muted-foreground: #17395a;
  --accent: #ffcc41;
  --accent-foreground: #233a4d;
  --destructive: #e43d3d;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #c4a142;
  --chart-1: #c4a142;
  --chart-2: #00223a;
  --chart-3: #17395a;
  --chart-4: #ffcc41;
  --chart-5: #ffd55a;
  --sidebar: #fff;
  --sidebar-foreground: #233a4d;
  --sidebar-primary: #00223a;
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: #ffcc41;
  --sidebar-accent-foreground: #233a4d;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #c4a142;
}

.dark {
  --background: #00223a;
  --foreground: #f8fafd;
  --card: #011c30;
  --card-foreground: #fff;
  --popover: #17395a;
  --popover-foreground: #fff;
  --primary: #fff;
  --primary-foreground: #00223a;
  --secondary: #233a4d;
  --secondary-foreground: #fff;
  --muted: #233a4d;
  --muted-foreground: #ffd55a;
  --accent: #ffcc41;
  --accent-foreground: #00223a;
  --destructive: #e43d3d;
  --border: #0f1c2b;
  --input: #233a4d;
  --ring: #c4a142;
  --chart-1: #c4a142;
  --chart-2: #ffcc41;
  --chart-3: #233a4d;
  --chart-4: #ffd55a;
  --chart-5: #17395a;
  --sidebar: #17395a;
  --sidebar-foreground: #fff;
  --sidebar-primary: #00223a;
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: #ffcc41;
  --sidebar-accent-foreground: #00223a;
  --sidebar-border: #17395a;
  --sidebar-ring: #c4a142;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
